.archive
.cache
.snapshots


# SCRIPTS
# ======= #
.scripts/classes/doc
.scripts/logs
.scripts/tmp
.scripts/typedoc-plugins


# RELEASES
# ======== #
@releases/**/*
!@releases/**/*.zip


# DIST
# ==== #
packages/*/dist/**/*.css.map
packages/*/dist/**/*.js.map
packages/*/dist/**/*.ts.map
packages/*/dist/**/*.test.d.ts
packages/*/dist/**/*.test.js


# DOCS
# ==== #


# SRC
# === #


# ROOT
# ==== #
.gitcommit.md
.releasenotes.md
TODO


# MISC
# ==== #
._*
.DS_Store
.smbdelete**

node_modules/
